<div class="container">
  <div class="row">
    <div class="col-11">
    <h4 class= "my-4 px-4 offset-md-1 d-inline-block", style="background-color: #eee;">商品一覧</h4></div>
    <%= link_to new_admin_item_path do %>
    <div class="col-1"><i class="fas fa-plus-circle fa-3x text-black-50 mt-3"></i></div><% end %>
  </div>
  <table class="table table-borderless table-hover">
    <thead class="thead-light border-top">
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><u><%= link_to item.name, admin_item_path(item), class: "text-reset" %></u></td>
        <td><%= item.price_ex_tax %></td>
        <td><%= item.genre.name %>
        <td class="font-weight-bold"><% if item.is_active == true %>
        <div class="text-success">販売中</div>
        <% else %><div class="text-black-50">販売停止中</div><% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @items %>
  </div>
</div>