<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom", style="background-color: #dcdcdc">
      <nav class="navbar navbar-expand-lg ">
        <div class="container">
          <a class="navbar" href="/"><%= image_tag "/assets/Logo.png", size: "280x85" %></a>
           <div class="collapse navbar-collapse row" id="navbarNavDropdown">

            <!--顧客用ヘッダー-->
            <% if customer_signed_in? %>

                 <h5 class="ml-5">ようこそ、<%= current_customer.last_name %>さん!</h5>

                 <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "マイページ", customers_mypage_path,class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "商品一覧", items_path,class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "カート", cart_items_path,class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
                </ul>

            <!--管理者用ヘッダー-->
            <% elsif admin_signed_in?  %>

               <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "商品一覧", admin_items_path, class: 'nav-link text-dark'%></li>

                  <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "注文履歴一覧", admin_orders_path, class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "会員一覧", admin_customers_path, class: 'nav-link text-dark'%></li>

                  <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-3 bg-light"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'nav-link text-dark'%></li>
               </ul>

            <!--ログイン前ヘッダー-->
            <% else %>

                 <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "About", about_path,class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "商品一覧", items_path,class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "新規登録", new_customer_registration_path,class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5 bg-light"><%= link_to "ログイン", new_customer_session_path,class: 'nav-link text-dark' %></li>
                 </ul>

            <% end %>
          <!--検索フォーム-->
              <div class="container justify-content-end pt-3">
                <div class="row">
                  <div class="col-ml-auto mr-4">
                    <%= form_with url: items_path, method: :get do |f| %>
                    <div class="input-group">
                      <%= f.text_field :word, placeholder: "Search", class: "input-group-prepend" %>
                      <span class="input-group-btn">
                        <%= f.button :type => "submit" do %><i class="fas fa-search"></i><% end %>
                      </span>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
          <!--検索フォームここまで-->
            </div>
          </div>
        </nav>
    
    
    </header>
    
    <!--ヘッダーと被らないようにする-->
    <body style="padding-bottom:4rem">
    </body>
    
    <%= yield %>
    <footer class="fixed-bottom" style="background-color: #dcdcdc">
      <div style="padding: 5px;">
        <h6 class="text-dark text-center mr-3" id="footer_logo"><small>©naganoCAKE</small></h6>
      </div>
    </footer>
  </body>
</html>
